- var pageTitle
- if (is_archive()) pageTitle = _p('page.archives')
- else if (is_tag()) pageTitle = _p('page.tag') + ': ' + page.tag
- else if (is_category()) pageTitle = _p('page.category') + ': ' + page.category
- else if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- else if (is_year()) pageTitle += ': ' + page.year
- else if (is_current('/404.html', [strict])) pageTitle = _p('error404.error_title')
- else pageTitle = page.title || config.title || ''

- var isSubtitle = config.subtitle ? ' - ' + config.subtitle : ''
- var tabTitle = is_home() || !pageTitle ? config.title + isSubtitle : pageTitle + ' | ' + config.title

- var pageKeywords
- if (page.keywords) pageKeywords = Array.isArray(page.keywords) ? (page.keywords).join(',') :  ([]).join(',') || page.keywords
- else if (page.tags && page.tags.length) pageKeywords = page.tags.data.map(function(tag) {return tag.name;}).join(',')
- else pageKeywords = Array.isArray(config.keywords) ? (config.keywords).join(','):  ([]).join(',') || config.keywords
- var pageAuthor = config.email ? config.author + ',' + config.email : config.author
- var pageCopyright = config.copyright || config.author
- var themeColor = theme.display_mode === 'dark' ? '#0d0d0d' : '#ffffff'

meta(charset='UTF-8')
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width,initial-scale=1")
title= tabTitle
if pageKeywords
  meta(name="keywords" content=pageKeywords)
meta(name="author" content=pageAuthor)
meta(name="copyright" content=pageCopyright)
meta(name ="format-detection" content="telephone=no")
meta(name="theme-color" content=themeColor)

//- pwa
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-touch-fullscreen', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
link(rel='manifest', href='/manifest.json')
link(rel='apple-touch-startup-image', href='/pwa/splash-2048x2732.png', media='(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-2732x2048.png', media='(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1668x2388.png', media='(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-2388x1668.png', media='(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1536x2048.png', media='(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-2048x1536.png', media='(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1668x2224.png', media='(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-2224x1668.png', media='(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1620x2160.png', media='(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-2160x1620.png', media='(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1290x2796.png', media='(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-2796x1290.png', media='(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1179x2556.png', media='(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-2556x1179.png', media='(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1248x2778.png', media='(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-2778x1248.png', media='(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1170x2532.png', media='(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-2532x1170.png', media='(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1125x2436.png', media='(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-2436x1125.png', media='(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1242x2688.png', media='(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-2688x1242.png', media='(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-828x1792.png', media='(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1792x828.png', media='(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1242x2208.png', media='(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-2208x1242.png', media='(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-750x1334.png', media='(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1334x750.png', media='(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)')
link(rel='apple-touch-startup-image', href='/pwa/splash-640x1136.png', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='/pwa/splash-1136x640.png', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)')

//- Open_Graph
include ./head/Open_Graph.pug

!=favicon_tag(theme.favicon || config.favicon)
link(rel="canonical" href=urlNoIndex())

//- 預解析
!=partial('includes/head/preconnect', {}, {cache: true})

//- 網站驗證
!=partial('includes/head/site_verification', {}, {cache: true})

//- PWA
if (theme.pwa && theme.pwa.enable)
  !=partial('includes/head/pwa', {}, {cache: true})

//- main css
link(rel='stylesheet', href=url_for(theme.CDN.main_css))
link(rel='stylesheet', href=url_for(theme.CDN.fontawesome) media="print" onload="this.media='all'")

if (theme.snackbar && theme.snackbar.enable)
  link(rel='stylesheet', href=url_for(theme.CDN.snackbar_css) media="print" onload="this.media='all'")

if theme.algolia_search.enable
  link(rel='stylesheet' href=url_for(theme.CDN.algolia_search_css) media="print" onload="this.media='all'")
  script(src=url_for(theme.CDN.algolia_search) defer)

//- google_adsense
!=partial('includes/head/google_adsense', {}, {cache: true})

//- analytics
!=partial('includes/head/analytics', {}, {cache: true})

//- font
if theme.blog_title_font &&　theme.blog_title_font.font_link
  link(rel='stylesheet' href=url_for(theme.blog_title_font.font_link) media="print" onload="this.media='all'")

//- global config
!=partial('includes/head/config', {}, {cache: true})

include ./head/config_site.pug
include ./head/noscript.pug

!=fragment_cache('injectHeadJs', function(){return inject_head_js()})

!=fragment_cache('injectHead', function(){return injectHtml(theme.inject.head)})
